html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  font-size: 14px;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}
