$statement-color: #0000ff;
$property-color: #660e7a;
$variable-color: #458383;
$string-color: #008000;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
}

ol, ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

pre {
  margin: 0;
}

blockquote {
  margin: 0;
}

a {
  color: $statement-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $statement-color;
  }
}
