html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  /*background-color: black;*/
}

ol, ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

.markdown p {
  margin: 0;
}

.markdown strong {
  font-weight: normal;
  color: #0000ff;
}

.markdown em {
  font-style: normal;
  color: #008000;
}

.markdown h1 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.markdown h1:after {
  content: "---------------";
  display: block;
}

.markdown h2:before {
  content: "##\00a0";
  display: inline-block;
}

.markdown pre {
  margin: 0;
}

.markdown blockquote, .markdown code {
  color: #660e7a;
  display: inline-block;
  margin: 0;
  padding-left: 30px;
  position: relative;
  white-space: normal;
}

.markdown blockquote > p {
  display: inline;
}

.markdown blockquote:before {
  content: "|";
  display: inline;
  left: 0;
  position: absolute;
}

.markdown ul {
  position: relative;
  padding-left: 15px;
}

.markdown ul > li:before {
  color: #008000;
  content: "*";
  left: 0;
  position: absolute;
}

.markdown a {
  color: #0000ff;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown a:visited {
  color: #0000ff;
}
